<body>
<div id="wrapper">
  
	 <h1 style="font-family: 'Raleway', sans-serif;">Search Results</h1>
	
<!--
loop through database items returned from search and display each
 -->
    <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      
      
          
        <th><span>Description:</span></th> 
        <th><span>Item #:</span></th> 
        <th><span>Mahogany</span></th> 
        <th><span>Cherry</span></th> 
        <th><span>Pecan</span></th> 
        <th><span>Honey</span></th> 

         </tr>
         </thead>
         </tbody>

         {{#each inventory}}

         <tr>
         <td class="lalign">{{Description}} </td>
          
         <td class="lalign">{{ItemNumber}}</td>
           
         <td class="lalign">{{QuantityMAH}}</td> 
           
         <td class="lalign">{{QuantityCH}}</td>
           
         <td class="lalign">{{QuantityESP}}</td>
           
         <td class="lalign"> {{QuantityHNY}}</td> </tr>
   
<!--
input for deleting item
 -->
            <tr><td class=lalign"><form action="/delete?id={{id}}" method="POST"> 
            
            <button class="btn btn-info btn-lg" type="submit">Delete item</i></button>
            </form></tr></td>

          
      {{/each}}

          </tbody>
    </table>

    <form action="/">
         <button class="btn btn-info btn-lg" type="submit">Home</button>
    </form>
</div>

</body>