<div>
	<h1>This page shows the search results, with the option to delete returned items.</h1>
</div>

<div>
	
<!--
loop through database items returned from search and display each
 -->
    <ul>
      {{#each inventory}}
          <li>
             Description: {{Description}}, 
            Item Number: {{ItemNumber}}, 
            Quantity - MAH: {{QuantityMAH}}, 
            Quantity - CH: {{bodyQuantityCH}}, 
            Quantity - ESP: {{QuantityESP}}, 
            Quantity - HNY: {{QuantityHNY}} 
<!--
input for deleting item
 -->
            <form action="/delete?id={{id}}" method="POST"> 
            
            <button type="submit">Delete item</button>
            </form>

          </li>
      {{/each}}
    </ul>

</div>