<body>
<div id="wrapper">

  	<h2 id="logo">Search Results</h2>

 <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
	
<!--
loop through database items returned from search and display each
<input type="hidden" name="id" value="{{this.id}}">
 -->
  

       
             <th><span>Description:</span></th> 
             <th><span>Item #:</span></th>  
             <th><span>Mahogany</span></th>  
             <th><span>Cherry</span></th>  
             <th><span>Pecan</span></th>  
             <th><span>Honey</span></th>  

          </tr>
         </thead>
         </tbody>

          {{#each inventory}}

          <tr>
         <td class="lalign">{{Description}} </td>
          
         <td class="lalign">{{ItemNumber}}</td>
           
         <td class="lalign">{{QuantityMAH}}</td> 
           
         <td class="lalign">{{QuantityCH}}</td>
           
         <td class="lalign">{{QuantityESP}}</td>
           
         <td class="lalign"> {{QuantityHNY}}</td> </tr>

           <tr><td class=lalign"><form action="/delete?id={{id}}" method="POST"> 
            
            <button class="btn btn-info btn-lg" type="submit">Delete item</i></button>
            </form></td></tr>

        
      {{/each}}
    
     </tbody>
    </table>

</div>

</body>