<div>
	<h1>This page will display all items from inventory</h1>
</div>

<div>
	
<!--
loop through database items returned from search and display each
<input type="hidden" name="id" value="{{this.id}}">
 -->
    <ul>
      {{#each inventory}}
          <li>
            Description: {{Description}}, 
            Item Number: {{ItemNumber}}, 
            Quantity - MAH: {{QuantityMAH}}, 
            Quantity - CH: {{bodyQuantityCH}}, 
            Quantity - ESP: {{QuantityESP}}, 
            Quantity - HNY: {{QuantityHNY}} 
            <form action="/delete?id={{id}}" method="POST"> 
            
            <button type="submit">Delete item</button>
            </form>

          </li>
      {{/each}}
    </ul>

</div>